:root {
    --rednt: #E50914;
    --blacknt: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Base Elements */
body {
    background: var(--blacknt);
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: var(--rednt);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin-left: 5px;
}

header nav a {
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}

/* Main Movie */

.main-movie {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50) 100%), url('../img/cover-rick-and-morty.jpg');
    
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-movie .description {
    margin-top: 10px;
    margin-bottom: 20px;
}

.main-movie .title {
    margin-top: 7%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.btn {
    color: #fff;
    background-color: rgba(0,0,0, .50);
    border: none;
    
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: ease all .3s;
}

.btn:hover {
    background-color: #fff;
    color: black;
}

.btn i {
    margin-right: 8px;
}

.container {
    margin-left: 20px;
}

.main-movie .container {
    width: 70%;
}

.carousel-movies {
    margin-top: 10px;    
}

.carousel-movies .box-movies {
    height: 100%;
    width: 100%;
    display: block;
}

